<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col animate__animated animate__fadeIn" *ngFor="let gif of resultados | paginate : {
        itemsPerPage: limit,
        currentPage: page,
        totalItems: total}">
        <div class="card h-100">
        <img [src]="gif.images.downsized_medium.url" class="card-img-top" alt="{{gif.title}}">
        <div class="card-body">
            <h5 class="card-title">{{gif.title}}</h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{gif.import_datetime |  date:'dd/MM/YYYY hh:mm a'}}</small>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-5 mt-3 pagination-showing">     
        Mostrando {{showing}} a {{showingTotal}} de {{total}} entradas
    </div>
    <div class="col-sm-12 col-md-7 mt-3 text-end">
            <pagination-controls 
            (pageChange)="onDataChange($event)"
            (pageBoundsCorrection)="onDataChange($event)"
            [maxSize]="7"
            [autoHide]="false"
            [responsive]="true"
            [previousLabel]="''"
            [nextLabel]="''">
        </pagination-controls>
    </div>
</div>   