<div class="row">
    <div class="col-sm-12 col-md-4 col-c">
        <label for="entries">Mostrar 
            <select class="form-select form-select-sm sel-filter-pz" #selectSize (change)="onSizeChange()">
                <option value="12" selected>12</option>
                <option value="24">24</option>
                <option value="36">36</option>
                <option value="48">48</option>
            </select> entradas
        </label>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="form-inline i-float-right">
            <div class="form-group full-w">
                <label for="buscar" class="mx-sm-3">Buscar</label>
                <input type="text" id="buscar" class="form-control" placeholder="Buscar..."
                (keyup.enter)="onSearch()" #txtBuscar>
            </div>
        </div>
    </div>
</div>
