<div class="bg-dark border-right p-3" id="sidebar">
    <h4 class="text-light text-center">Historial</h4>
    <hr class="text-white"/>
    
    <ul class="list-group">
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center cursor-pointer" 
      (click)="buscar(item)"
      *ngFor="let item of historial; let i = index">
        {{item | titlecase}}
        <i class="bi bi-trash-fill cursor-pointer" (click)="delete(i, item)"></i>
      </li>
    </ul>
  </div>