html, body {
    height: 100%;;
}

#sidebar {
    height: 100%;
    min-height: 100vh;
    min-width: 180px;
}

.pagination-showing {
    text-align: center;
}

.sel-filter-pz {
    width: auto;
    display: inline-block;
}

.full-w {
    width: 100% !important;
}

.cursor-pointer{
    cursor: pointer;
}

@media (max-width: 576px) {

    .i-float-right {
        float: left !important;
        width: 100%;
    }

    .col-c {
        text-align: center;
    }

}